html{
	width:100%;
	height:100%;
}
canvas{
	display:block;
	border: 1px solid black;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.contents {
	align-items: center;
	align-self:center;
}